<div class="post_list_container">
  <header class="header">
    <div class="wrapper">
      <h1>News</h1>
    </div>
  </header>
  <div class="wrapper">
    <div class="post_item_container">
      <todo-item v-for="post in visiblePosts"
                 :key="post.id"
                 v-bind:singlePost="post"
                 v-bind:visiblePosts="visiblePosts"
                 v-bind:currentPage="currentPage"
                 class="post_item"
      ></todo-item>
      <pagination v-bind:postsArray="postsArray"
                  v-on:page:update="updatePage"
                  v-bind:currentPage="currentPage"
                  v-bind:pageSize="pageSize"
                  class="pagination"
      ></pagination>
    </div>
  </div>
</div>