@import "../../../assets/styles/_variables";
.main_todo_list_title{
  color: $dark_violet;
}
.my_todo_list_paragraph{
  width: 700px;
  color: $light_violet;
  font-size: 16px;
  line-height: 28px;
}
.subtitle{
  font-weight: bold;
  color: $dark_violet;
  text-transform: uppercase;
  font-size: 14px;
}
.todo_list_button{
  width: 90px;;
  height: 40px;
  background-color: $dark_violet;
  color: white;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.my_todo_list_input{
  height: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.green{
  color:green
}
.upperCase{
  text-transform: uppercase;
}